@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  color: #777;
  line-height: 1.5; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

img {
  width: 100%; }

.img {
  border: 0.1rem #dddddd solid;
  padding: 1rem;
  margin: 1rem 0;
  display: inline-block; }
  .img-avatar {
    width: 50%; }
    @media (min-width: 769px) {
      .img-avatar {
        width: 20rem; } }
  .img-card {
    border: #dddddd 0.1rem solid;
    padding: 1rem; }
    @media (min-width: 769px) {
      .img-card {
        width: 50rem;
        margin-right: 20rem; } }

#images {
  text-align: center; }

.quote {
  padding: 0 2rem;
  margin: 2rem;
  font-size: 2rem;
  color: #9d9d9d;
  border-left: 1rem solid #31edc2;
  display: inline-block;
  border-radius: .5rem;
  text-align: left; }

.form {
  text-align: center;
  width: 100%; }
  .form__image {
    width: 50%; }
  .form input {
    padding: 1rem;
    width: 100%;
    border-style: none;
    margin: 1.5rem 0;
    border-bottom: 0.5rem solid #31edc2;
    border-radius: .3rem; }
    .form input:focus {
      outline: none; }

@media (min-width: 769px) {
  #form {
    float: right;
    width: 45%; } }

.btn {
  display: block;
  width: 100%;
  margin: 2rem 0;
  border: none;
  padding: 1rem;
  text-transform: uppercase;
  color: #fff;
  border-radius: .5rem; }
  .btn:focus {
    outline: none; }
  .btn--default {
    background-color: #4bdaff; }
    .btn--default:hover {
      background-color: #7ee4ff; }
  .btn--success {
    background-color: #3fdd82; }
    .btn--success:hover {
      background-color: #6ae59e; }
  .btn--error {
    background-color: #e96673; }
    .btn--error:hover {
      background-color: #ef939c; }
  .btn--warning {
    background-color: #ff6d47; }
    .btn--warning:hover {
      background-color: #ff957a; }
  .btn--info {
    background-color: #9b5ec1; }
    .btn--info:hover {
      background-color: #b283cf; }

@media (min-width: 796px) {
  .btn-list {
    display: flex;
    justify-content: space-around; }
  .btn {
    flex-basis: 15rem; } }

.container {
  margin: 2rem auto;
  max-width: 1100px; }

.header {
  margin-bottom: 10rem;
  text-align: center; }
  .header .brand {
    width: 50%; }
    @media (min-width: 796px) {
      .header .brand {
        width: 10rem;
        float: left; } }
  .header .nav {
    margin: 4rem 0; }
    @media (min-width: 796px) {
      .header .nav {
        float: right;
        margin: 0; } }
    .header .nav li {
      padding: 1rem;
      border-radius: .5rem; }
      @media (min-width: 796px) {
        .header .nav li {
          display: inline-block; } }
      .header .nav li a {
        color: #777;
        display: block; }
        .header .nav li a:active {
          color: #fff; }
        .header .nav li a:hover {
          color: #fff; }
      .header .nav li:hover {
        background-color: #31edc2; }
      .header .nav li:active {
        background-color: #77f3d7; }
    @media (min-width: 796px) {
      .header .nav {
        float: right; } }
  .header .intro {
    text-align: left;
    padding: 2rem 0;
    color: #9d9d9d; }
    @media (min-width: 769px) {
      .header .intro {
        clear: both;
        padding: 7rem 0; } }

.section__title {
  text-transform: capitalize;
  color: #777;
  margin: 2rem 0;
  text-align: left; }

.section__head {
  color: #31edc2;
  padding: 2rem;
  width: 80%;
  line-height: 1; }

.section__description {
  text-align: left; }
  .section__description .link {
    color: #61dfff; }

@media (min-width: 769px) {
  #typography {
    float: left;
    width: 45%; } }

@media (min-width: 769px) {
  .grid {
    margin: 5rem 0;
    display: grid;
    grid-gap: 1rem; }
    .grid-col-12 {
      grid-template-columns: 1fr; }
    .grid-col-6 {
      grid-template-columns: repeat(2, 1fr); }
    .grid-col-4 {
      grid-template-columns: repeat(3, 1fr); }
    .grid-col-3 {
      grid-template-columns: repeat(4, 1fr); }
    .grid-col-5-7 {
      grid-template-columns: 5fr 7fr; }
    .grid-col-8-4 {
      grid-template-columns: 8fr 4fr; }
    .grid-col-7-center {
      grid-template-columns: 70%;
      justify-content: center; } }

.col {
  margin: .5rem 0;
  padding: 1rem 0;
  border-radius: .5rem; }
  .col-12 {
    background-color: #6df2d2; }
  .col-8 {
    background-color: #ff9a7d; }
  .col-7 {
    background-color: #f0959e; }
  .col-6 {
    background-color: #40a6cc; }
  .col-5 {
    background-color: #73e7a0; }
  .col-4 {
    background-color: #78e5ff; }
  .col-3 {
    background-color: #e699ee; }

@media (min-width: 769px) {
  .clearfix::after {
    content: "";
    display: table;
    clear: both; }
  .clearfix::before {
    content: '';
    display: table;
    clear: both; } }
