// typography
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,700");

// variables 
$color-primary: #777;
$color-primary-light: lighten($color-primary, 15%);
$color-primary-lighter: lighten($color-primary, 40%);
$color-secondary: #31edc2;
$color-secondary-dark: darken($color-secondary, 15%);
$color-tritary: #eee;
$color-white: #fff;
$color-link: #61dfff;

$color-default: #4bdaff;
$color-default-light: lighten($color-default, 10%);
$color-success: #3fdd82;
$color-success-light: lighten($color-success, 10%);
$color-error: #e96673;
$color-error-light: lighten($color-error, 10%);
$color-warning: #ff6d47;
$color-warning-light: lighten($color-warning, 10%);
$color-info: #9b5ec1;
$color-info-light: lighten($color-info, 10%);


// grid color varaibles
$color-col-12: #6df2d2;
$color-col-6: #40a6cc;
$color-col-4: #78e5ff;
$color-col-3: #e699ee;
$color-col-5: #73e7a0;
$color-col-7: #f0959e;
$color-col-8: #ff9a7d;

// base styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: (10 / 16)* 100%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    color: $color-primary;
    line-height: 1.5;
}

a{
    text-decoration: none;
}

ul {
    list-style: none;
}

img{
    width: 100%;
}

// components

// layout

.container{
    margin: 2rem;
}

// ======================================================
.header {
    margin-bottom: 10rem;
    text-align: center;

    .brand {
        width: 50%;
    }

    .nav{
        margin: 4rem 0;

        li{
            padding: 1rem;
            border-radius: .5rem;
            a{
                color: $color-primary;
                display: block;
                &:active{
                    color: $color-white;
                }
            }
            &:active{
                background-color: $color-secondary;
            }
        }
    }

    .intro{
        text-align: left;
        padding: 2rem;
        color: $color-primary-light;
    }
}

// ==========================================================
.section{
    &__title {
        text-transform: capitalize;
        color: $color-primary;
        margin: 1rem 0;
        text-align: left;
    }

    &__head{
        color: $color-secondary;
        padding: 2rem;
        width: 80%;
        line-height: 1;
    } 

    &__description{
        text-align: left;
        .link {
            color: $color-link;
        }
    }
    
}
// ============================================================
.img{
    border: .1rem $color-primary-lighter solid;
    padding: 1rem;
    margin: 1rem 0;
    display: inline-block;

    &-avatar{
        width: 50%;
        
    }

    &-card{
        border: $color-primary-lighter .1rem solid;
        padding: 1rem;
    }
}

#images {
    text-align: center;
}

// ============================================================
.quote{
    padding: 0 2rem;
    margin: 2rem;
    font-size: 2rem;
    color: $color-primary-light;
    border-left: 1rem solid $color-secondary;
    display: inline-block;
    border-radius: .5rem;
    text-align: left;
}
// ============================================================

.form {
    text-align: center;
    width: 100%;

    &__image{
        width: 50%;
    }
    input{

        padding: 1rem;
        width: 100%;
        border-style: none;
        margin: 1.5rem 0;
        border-bottom: .5rem solid $color-secondary;
        border-radius: .3rem;
        &:focus{
            outline: none;
        }
    }
}
// =============================================================
.btn{
    display: block;
    width: 100%;
    margin: 2rem 0;
    border: none;
    padding: 1rem;
    text-transform: uppercase;
    color: $color-white;
    border-radius: .5rem;

    &:focus{
        outline: none;
    }

    &--default{
        background-color: $color-default;
        
        &:hover{
            background-color: $color-default-light
        }
    }

    &--success{
        background-color: $color-success;
        
        &:hover{
            background-color: $color-success-light
        }
    }

    &--error{
        background-color: $color-error;
        
        &:hover{
            background-color: $color-error-light
        }
    }

    &--warning{
        background-color: $color-warning;
        
        &:hover{
            background-color: $color-warning-light
        }
    }

    &--info{
        background-color: $color-info;
        
        &:hover{
            background-color: $color-info-light
        }
    }

}

// ==========================================================

.grid{
    margin: 5rem 0;
    display: grid;
    grid-gap: 1rem;

    &-col-12{
        grid-template-columns: 1fr;
    }
    &-col-6{
        grid-template-columns: repeat(2, 1fr);
    }
    &-col-4{
        grid-template-columns: repeat(3, 1fr);
    }
    &-col-3{
        grid-template-columns: repeat(4, 1fr);
    }
    &-col-5-7{
        grid-template-columns: 5fr 7fr;
    }
    &-col-8-4{
        grid-template-columns: 8fr 4fr;
    }
    &-col-7-center{
        grid-template-columns: 70%;
        justify-content: center;
    }

}

.col {
    margin: .5rem 0;
    padding: 1rem 0;
    border-radius: .5rem;

    &-12{
        background-color: $color-col-12;
    }
    &-8{
        background-color: $color-col-8;
    }
    &-7{
        background-color: $color-col-7;
    }
    &-6{
        background-color: $color-col-6;
    }
    &-5{
        background-color: $color-col-5;
    }
    &-4{
        background-color: $color-col-4;
    }
    &-3{
        background-color: $color-col-3;
    }
}