// base styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: (10 / 16)* 100%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    color: $color-primary;
    line-height: 1.5;
}

a{
    text-decoration: none;
}

ul {
    list-style: none;
}

img{
    width: 100%;
}